body {
    margin: 0;
    padding: 10px;
}

.relative {
    position: relative;
    text-align: left;
    margin-left: 10px;
    margin-top: -25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.box {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px rgb(197, 188, 188), -1em 0 .9em rgb(180, 180, 171);
    width: 50%;
    margin: 20px;
    padding: 5px;
    position: relative;

}

.x-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.5em;
    text-align: center;
}

.video-container {
    position: fixed;
    width: 300px;
    bottom: 20px;
    right: 30px;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid rgb(49, 48, 47);
    border-radius: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);

}

video {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 15px;

}