
html {
    cursor: url(images/navigation.png), auto;
}
body {

    margin: 1em 10% 0 10%;
    background-image: url('images/book.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 1.1em;
    font-family: cursive;
    font-size: 1.2em;
   
}

.important {
    text-align: center;
    color: rgb(12, 1, 1);

}

p{
    text-align: justify;
}

.content {
    background-color: rgb(245, 217, 180);
    margin: 0;
    padding: 20px;
    text-align: center;
    opacity: 0.9;
    border: transparent;
    border-radius: 15px;

}

.content:hover {
    background-color: rgb(238, 191, 130);
    border: solid 1px black;

}

nav ul {

    list-style: none;
    text-align: center;
    padding: 0;

}

nav li {

    display: inline;
    margin-left: 20px;
    margin: 0 10px;

}

nav a {

    display: inline;
    padding: 10px 10px;
    background-color: rgb(207, 133, 110);
    color: rgb(251, 253, 253);
    border-radius: 5px;
    text-decoration: none;
    cursor: inherit;

}

nav a:hover {
    background-color: rgb(231, 168, 156);

}
.info img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px; 
    text-align: center;
}

.education {
    background-image: linear-gradient(to right, rgb(231, 200, 181), rgb(185, 116, 95));
    margin: 0;
    padding: 20px;
    border: solid 2px rgb(39, 28, 13);
    border-radius: 20px;
    text-align: left;
}

.education ul li {
    list-style-type: none;

}

table {
    border-collapse: collapse;
    border: 2px solid rgb(41, 22, 0);
    width: 80%;
    margin: auto;
}

th, td {

    padding: 10px;
    text-align: center;
    border: 2px solid rgb(41, 22, 0);
    background-color: rgb(185, 116, 95);
    color: rgb(8, 8, 8);
}

.experience {
    text-align: left;
    text-decoration: underline;
    line-height: 1.5;
}

.projects {
    text-align: left;
    line-height: 2;
}

.projects a {

    text-decoration: none;
    border: 1px solid rgb(2, 1, 1);
    background-color: rgb(185, 116, 95);
    color: rgb(255, 255, 255);
    margin-left: 5px;
    position: relative;
    top: -12px;
    padding: 2px;
    border-radius: 3px;
    cursor: inherit;
}

.projects a:hover {
    background-color: rgb(194, 101, 73);

}

.cakes {
    background-color: rgb(194, 101, 73);
    border: 2px solid rgb(12, 9, 6);
    border-radius: 15px;
    text-align: justify;
    margin: auto;
   
}

.cakes img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
}

video {
    width: 500px;
}

.pagination a {

    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(2, 1, 1);
    background-color: rgb(185, 116, 95);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: inherit;
}

.countires{
    width: 70%;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    background-color:rgb(194, 101, 73); 
    border-radius: 15px;
    color: white;
}

.countires img {
    width: 500px;;
}

.online-library img {
  width: 500px;
}

.contact {
    width: 80%;
    margin: 0 auto; 
    padding: 20px;
    background-image: linear-gradient(to right, rgb(231, 187, 159), rgb(185, 116, 95));
    border: 2px solid rgb(189, 172, 172);
    border-radius: 20px;
    text-align: center;
}

.contact label {
    display: block;
    color: rgb(119, 23, 5);
    font-weight: bold;
    margin-top: 10px;
}

.contact input, .contact textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(221, 192, 160);
    border-radius: 5px;
}

input[type=submit] {
    background-color: rgb(185, 116, 95);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; 
}

input[type=submit]:hover {
    background-color: rgb(201, 91, 61);
    color: rgb(0, 0, 0);
}
.social-media h3 {
    text-align: center;
    text-decoration: underline;
    color: rgb(179, 64, 64);
       
}
.social-media a{
    cursor: inherit;
}
footer {
    
    margin-top: auto;
    padding: 10px;
    background-color: rgb(185, 116, 95);
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}
footer p {
    text-align: center;
}