body {
  margin: 0;
  padding: 0;
  background-image: url('images/book.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Calibri, sans-serif;
}

header {

  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to left, rgb(128, 177, 182), rgb(18, 42, 44));
}

nav ul {

  list-style: none;
  display: flex;
  padding: 0;
}

li {

  display: inline;
  margin-left: 20px;
  margin: 0 10px;

}

nav a {

  display: inline-block;
  padding: 10px 10px;
  background-color: rgb(211, 231, 240);
  color: rgb(6, 24, 31);
  border-radius: 5px;
  text-decoration: none;

}

nav a:hover {
  background-color: rgb(96, 171, 179);

}

main {

  width: 100%;
  padding: 20px;
  margin: 20px;
}

h1 {
  color: rgb(9, 13, 14);
  background: rgb(39, 90, 112);
  font-family: Calibri, sans-serif;
  margin: 30px 0;
  padding: 15px;
  width: 90%;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 24px;
  text-align: center;
  opacity: 0.8;
}

p {
  background-color: rgb(169, 196, 245);
  margin: 20px;
  padding: 20px;
  width: 90%;
  opacity: 0.8;
}

img {

  width: 300px;
  display: inline-block;
  padding: 30px;
  margin: 60px;
}

h2 {
  background-color: rgb(115, 163, 183);
  color: rgb(39, 90, 112);
  font-family: Calibri, sans-serif;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgb(169, 196, 245);
  font-size: 24px;
  text-align: center;
}

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  background-image: linear-gradient(to left, rgb(128, 177, 182), rgb(18, 42, 44));
  padding: 15px;
}